@font-face{
    font-family:BlackBones;
    src:url(../fonts/BlackBonesPersonalUse-L3O6n.otf);
}
html,body{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
::-webkit-scrollbar {
    width: 17px;
    border-radius: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background-color:transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #d9d9d9 ;
    border:4px solid transparent;
    background-clip: content-box;
    
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #d1d1d1 ;
}
.nav{
    height: 60px;
    padding: 0px 60px;
    position: fixed;
    width: calc(100% - 120px);
    top: 0px;
    background-color: white;
    z-index: 1;
}
.nav .logo{
    font-size: 30px;
    font-family: BlackBones;
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
    user-select: none;
}
.logo_icon{
    margin-right: 10px;
    background-color: rgba(172, 252, 255, 0.64);
    color:#008e9a ;
    padding: 10px 13px;
    height: 20px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}
.navigations{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}
.navigations a{
    color: #585858;
    margin: 0px 10px;
    font-size: 17px;
    padding: 4px 10px;
    border-radius: 10px;
    font-family: lato;
    transition: 0.5s;
    display: flex;
    align-items: center;
    user-select: none;
}
.navigations a.active{
    color:#008e9a;
}
.navigations a i{
    border-radius: 100px;
    margin-right: 10px;
}
.navigations a:hover{
    color:#008e9a;
    border-color:#008e9a;
}
.navigations img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    margin-right: 10px;
}
.Acc_name{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.popUp{
    width: 230px;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:5px;
    visibility: hidden;
}
.popUp.Acc{
    right: 10px;
    top: 50px;
}
.popUp.Books{
    top: 45px;
}
.profile_btn:hover + div , .profile_btn + div:hover , .books_btn:hover + div , .books_btn + div:hover {
    visibility: visible;
}
.popUp button{
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.popup_btn:hover{
    background-color: rgba(111, 210, 214, 0.34);
    color: rgb(0, 107, 111);
}
.popUp button i{
    margin-right: 10px;
}
.LogOut_btn:hover{
    background-color: #ff0000;
    color: white;
}
.container{
    padding: 30px 40px;
    min-height: calc(100vh - 115px);
    margin-top: 55px;
}
.poster{
    height: 160px;
    width: calc(100% - 200px);
    background-color: rgba(172, 252, 255, 0.64);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px 100px;
    position: relative;
    overflow: hidden;
    user-select: none;
}
.poster .title{
    font-family: BlackBones;
    font-size: 45px;
}
.poster .slogan{
    font-family: lato;
    font-weight: bold;
}
.poster .P_letter{
    position: absolute;
    font-family: BlackBones;
    font-size: 260px;
    right: 10px;
    top: -150px;
    color:#008e9a ;
    transform: rotate(8deg);
    opacity: 90%;
}
.content{
    display: flex;
    flex-wrap: wrap;
    gap:18px;
}
.card{
    position: relative;
    width: 346px;
    opacity: 1;
    transition: 0.5s;
}
.cont-card{
    width: calc(100% - 20px);
    padding: 30px 10px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    unicode-bidi: plaintext;
    margin-bottom: 5px;
}
.card_text{
    unicode-bidi: plaintext;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Vazirmatn', sans-serif;
}
.card_author{
    unicode-bidi: plaintext;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Vazirmatn', sans-serif;
}
.cont-data{
    width: 100%;
}
.cont-data, .cont-data a{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 15px;
}
.cont-data img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    margin-right: 15px;
}
.cont-data i{
    position: absolute;
    cursor: pointer;
    transition: 0.2s;
    font-size:16px ;
}
.cont-data .fa-heart{
    right: 10px;
}
.cont-data .fa-copy{
    right: 40px;
}
.cont-data .fa-trash-can{
    right: 70px;
}
.cont-data .fa-heart:hover{
    color: red;
}
.cont-data .fa-copy:hover{
    color: #008e9a;
}
.cont-data .fa-trash-can:hover{
    color: #5a93ff;
}
.snackbar{
    width: 200px;
    height: 60px;
    background-color: white;
    position: fixed;
    transform: translate(-50%);
    left:50%;
    top: -50px;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lato;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0%;
}
.noMorePins{
    font-family: sans-serif;
    color: dimgray;
    text-align: center;
    width: 100%;
    margin-top: 90px;
}
@keyframes fadeIn{
    from{top: -50px; opacity: 0%;}
    to{top: 50px; opacity: 100%;}
}
@keyframes stable{
    from{top: 50px; opacity: 100%;}
    to{top: 50px; opacity: 100%;}
}
@keyframes fadeOut{
    from{top: 50px; opacity: 100%;}
    to{top: -50px; opacity: 0%;}
}
